{% extends 'blog/base.html' %}

{% block title %}Inicio - Mi Proyecto{% endblock %}

{% load static %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>¡Bienvenido a mi Proyecto Final!</h1>
    <p class="lead">La idea de la página es la de generar blogs personales, para dejar que el hola mundo te conozca. Existe una sección donde hablo sobre mí, aquí hay unas ilustraciones con tematicas ¿Podrás suponer cuales son mis gustos al ver este pequeño carrusel de imagenes?.</p>
  </div>

  <div class="mt-4 text-center">
    <p>Si eres nuevo por aquí, ¡te invito a registrarte y contribuir con tus blogs!</p>
  </div>
  
  {% if messages %}
  <div class="alert alert-success">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="{% static 'images/Portada1.jpg' %}" class="d-block w-100" alt="Imagen 1">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/Portada2.png' %}" class="d-block w-100" alt="Imagen 2">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/Portada3.jpg' %}" class="d-block w-100" alt="Imagen 3">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}
